button {
  margin: 1em;
  border-radius: 5px;
  font-size: 0.9em;
  cursor: pointer;
}

.createHeader {
  background-image: url('classroom.jpg');
  background-position: center;
  background-size: cover;
  height: 90px;
  padding: 20px;
  margin-bottom: 0.5em;
}
