.Title {
  font-size: 1.5em;
}

.Header {
  background-image: url('trafficlight.jpeg');
  background-position: center;
  height: 70px;
  padding: 20px;
}

input {
  padding: 0.5em;
  border: 0;
  border-radius: 5px;
  background-color: #ff3333;
}
