.studentsHeader {
  background-image: url('students.jpg');
  background-position: center;
  background-size: cover;
  height: 180px;
  padding: 20px;
  margin-bottom: 0.5em;
}

.green {
  color: lightgreen;
  display: inline-block;
  margin: 1em;
}

.yellow {
  color: yellow;
  display: inline-block;
  margin: 1em;
}

.red {
  color: red;
  display: inline-block;
  margin: 1em;
}
